<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>Idealogue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/site.css" type="text/css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" type="text/javascript"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" type="text/javascript"></script><![endif]-->
  </head>
  <body>
    <div class="main-wrapper vp-8-t vp-6-b vp-12-sm-t">
      <div class="container">
        <header class="main-header"><a href="/"><img alt="Idealogue" height="52" src="/assets/images/logo.svg" width="172" class="logo"></a></header>
      </div>
      <div class="container">
        <div class="vm-7-t vm-4-b vm-8-sm-t vm-5-sm-b vm-13-md-t vm-10-md-b">
          <p class="huge">We design &amp; build digital products, from concept to code completion.</p>
        </div>
        <div id="projects" class="projects-header row section-header vm-2-b vp-3-t slide--index">
          <div class="col-xs-5 col-md-6">
            <h1 class="section-headline">Projects</h1>
          </div>
          <div class="col-xs-7 col-md-6 slider-nav"><a href="#" data-prev-for="projects" onclick="return false;" class="prev hidden-xs"><span class="icon icon-back"></span><span class="label">Previous</span></a><a href="#" data-next-for="projects" onclick="return false;" class="next hidden-xs"><span class="label">Next</span><span class="icon icon-forward"></span></a><a href="#" data-slide-to="index-projects:index" onclick="return false;" class="close ttr"><span class="label hidden-xs">Close</span><span class="icon icon-close"></span></a></div>
        </div>
        <hr>
        <div data-slider="index-projects" class="slider">
          <div data-slide="index" class="slider-item active">
            <div class="row vp-4-t vp-1-b vp-5-sm-t vp-2-sm-b">
              <div class="col-xs-12 col-sm-10">
                <ul class="projects huge">
                  <li><a href="https://www.crowdcurity.com" target="_blank" data-slide-to="index-projects:slides projects:crowdcurity" data-scroll="#projects">Crowdcurity</a></li>
                  <li><a href="http://counterparty.io" target="_blank" data-slide-to="index-projects:slides projects:counterparty" data-scroll="#projects">Counterparty</a></li>
                  <li><a href="https://www.inkpad.io" target="_blank" data-slide-to="index-projects:slides projects:inkpad" data-scroll="#projects">Inkpad</a></li>
                  <li><a href="http://www.huxtaburger.com.au" target="_blank" data-slide-to="index-projects:slides projects:huxtaburger" data-scroll="#projects">Huxtaburger</a></li>
                  <li><a href="https://hivewallet.com" target="_blank" data-slide-to="index-projects:slides projects:hive" data-scroll="#projects">Hive</a></li>
                  <li><a href="http://bitcoins.idealogue.io" target="_blank" data-slide-to="index-projects:slides projects:bitcoins-com" data-scroll="#projects">Bitcoins.com</a></li>
                  <li><a href="http://bitpocket.idealogue.io" target="_blank" data-slide-to="index-projects:slides projects:bitpocket" data-scroll="#projects">Bitpocket</a></li>
                  <li><a href="http://www.xbalances.com" target="_blank" data-slide-to="index-projects:slides projects:xbalances" data-scroll="#projects">Xbalances</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div data-slide="slides" class="slider-item">
            <div class="vp-0-t vp-6-b vp-5-sm-t vp-4-sm-b">
              <div data-slider="projects" class="slider">
                <div data-slide="crowdcurity" style="" class="project slider-item active">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Crowdcurity" src="/assets/images/mobile-crowdcurity.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Crowdcurity" src="/assets/images/mobile-crowdcurity.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Crowdcurity</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>Brand refresh and site for Crowdcurity, the crowd sourced site security specialists.
We devised a more approachable brand, an Inkpad CMS and a fully responsive design.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Matt Innes</strong><span>Brand, Creative direction</span></li>
                                <li><strong class="name">Lars Kluge</strong><span>CMS, Technical direction</span></li>
                                <li><strong class="name">Saori Kajiwara</strong><span>Design, illustration</span></li>
                                <li><strong class="name">Mariusz Roliński</strong><span>Front end code</span></li>
                                <li><strong class="name">Marty Cook</strong><span>Illustration</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="https://www.crowdcurity.com" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
                <div data-slide="counterparty" style="display: none;" class="project slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Counterparty" src="/assets/images/mobile-counterparty.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Counterparty" src="/assets/images/mobile-counterparty.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Counterparty</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>New brand and responsive site for leading cryptocurrency 2.0 group Counterparty. The main challenge was conveying the complexity of their technology as simply as possible.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Matt Innes</strong><span>Brand, Creative direction</span></li>
                                <li><strong class="name">Lars Kluge</strong><span>CMS, Technical direction</span></li>
                                <li><strong class="name">Saori Kajiwara</strong><span>Design, illustration</span></li>
                                <li><strong class="name">Mariusz Roliński</strong><span>Front end code</span></li>
                                <li><strong class="name">Marty Cook</strong><span>Illustration</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="http://counterparty.io" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
                <div data-slide="inkpad" style="display: none;" class="project slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Inkpad" src="/assets/images/mobile-inkpad.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Inkpad" src="/assets/images/mobile-inkpad.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Inkpad</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>Our own product, Inkpad is a multi-function text tool for the internet. Write, share and publish online simply and beautifully.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Lars Kluge</strong><span>Concept, code</span></li>
                                <li><strong class="name">Mariusz Roliński</strong><span>Code</span></li>
                                <li><strong class="name">Matt Innes</strong><span>Brand, UI</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="https://www.inkpad.io" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
                <div data-slide="huxtaburger" style="display: none;" class="project slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Huxtaburger" src="/assets/images/mobile-huxtaburger.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Huxtaburger" src="/assets/images/mobile-huxtaburger.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Huxtaburger</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>The key UI concept for Melbourne cult burger joint&#39;s site was: being able to flip through the site with one hand while holding a beer in the other. Also, exploding burgers.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Matt Innes</strong><span>Brand, Direction, Design</span></li>
                                <li><strong class="name">Ben Jennings</strong><span>Design, Code</span></li>
                                <li><strong class="name">David Hauser</strong><span>Code</span></li>
                                <li><strong class="name">Marty Cook</strong><span>Illustration</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="http://www.huxtaburger.com.au" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
                <div data-slide="hive" style="display: none;" class="project slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Hive" src="/assets/images/mobile-hive.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Hive" src="/assets/images/mobile-hive.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Hive</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>New brand and UI for multi-crypto wallet Hive, rolled out as a web wallet as well as iOS app. The aim was to make a simple, non-technical bitcoin wallet anyone could use.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Wendell Davis</strong><span>Creator &amp; Concept</span></li>
                                <li><strong class="name">Matt Innes</strong><span>Brand, Direction, Design</span></li>
                                <li><strong class="name">Ben Jennings</strong><span>UI, Code</span></li>
                                <li><strong class="name">David Hauser</strong><span>Animation, Code</span></li>
                                <li><strong class="name">Wei Lu</strong><span>Back end Code</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="https://hivewallet.com" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
                <div data-slide="bitcoins-com" style="display: none;" class="project slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Bitcoins.com" src="/assets/images/mobile-bitcoins-com.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Bitcoins.com" src="/assets/images/mobile-bitcoins-com.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Bitcoins.com</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>Designed as a simple introduction to Bitcoin, for the destination URL Bitcoins.com owned by a large but now-defunct bitcoin exchange.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Matt Innes</strong><span>Creative Direction, Design</span></li>
                                <li><strong class="name">Ben Jennings</strong><span>Design, Code</span></li>
                                <li><strong class="name">David Hauser</strong><span>Code</span></li>
                                <li><strong class="name">Marty Cook</strong><span>Illustration</span></li>
                                <li><strong class="name">Chris Diehm</strong><span>Copy, Research</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="http://bitcoins.idealogue.io" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
                <div data-slide="bitpocket" style="display: none;" class="project slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Bitpocket" src="/assets/images/mobile-bitpocket.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Bitpocket" src="/assets/images/mobile-bitpocket.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Bitpocket</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>A socially oriented simple bitcoin wallet aimed at the Japanese market. Built as a branded UI prototype only.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Matt Innes</strong><span>Brand, Direction, Design</span></li>
                                <li><strong class="name">Ben Jennings</strong><span>UI, Code</span></li>
                                <li><strong class="name">David Hauser</strong><span>Code</span></li>
                                <li><strong class="name">Marty Cook</strong><span>Illustration</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="http://bitpocket.idealogue.io" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
                <div data-slide="xbalances" style="display: none;" class="project slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 col-12-md hidden-xs">
                      <div class="project-image-wrapper vp-2-b"><img alt="Xbalances" src="/assets/images/mobile-xbalances.png" class="project-image visible-sm"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-12">
                      <div class="vm-2-t vm-2-b visible-xs"><img alt="Xbalances" src="/assets/images/mobile-xbalances.png" class="project-image"/></div>
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Xbalances</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 when-opened"><p>Entrainait pressaient he paraissent sa commandant qu du.</p>

                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="openable">
                            <hr class="visible-xs"/>
                            <div class="row vp-2 vp-0-sm-t vp-1-sm-b">
                              <div class="col-xs-7 col-sm-12">
                                <h1 class="section-headline">Credits</h1>
                              </div>
                              <div class="col-xs-5 visible-xs togglers"><a href="#" class="plus ttr when-closed"><span class="icon icon-plus"></span></a><a href="#" class="minus ttr when-opened"><span class="icon icon-minus"></span></a></div>
                            </div>
                            <hr class="when-opened"/>
                            <div class="vm-2 vm-0-sm-b vp-5-sm-b when-opened">
                              <ul class="credits">
                                <li><strong class="name">Lars Kluge</strong><span>Concept, code</span></li>
                                <li><strong class="name">Mariusz Roliński</strong><span>Front end code</span></li>
                                <li><strong class="name">Matt Innes</strong><span>Design</span></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="links"><li><a href="http://www.xbalances.com" target="_blank">Visit the Site</a></li><li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>
                  </ul>
                </div>
              </div>
              <div class="visible-xs cf vp-3"><a href="#" data-prev-for="projects" onclick="return false;" data-scroll class="prev"><span class="icon icon-back"></span><span class="label">Previous</span></a><a href="#" data-next-for="projects" onclick="return false;" data-scroll class="next ttr"><span class="label">Next</span><span class="icon icon-forward"></span></a></div>
              <div class="visible-xs">
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div id="team" class="row section-header vm-2-b vp-3-t slide--index">
          <div class="col-xs-5">
            <h1 class="section-headline">Team</h1>
          </div>
          <div class="col-xs-7 slider-nav"><a href="#" data-prev-for="team" onclick="return false;" class="prev hidden-xs"><span class="icon icon-back"></span><span class="label">Mariusz</span></a><a href="#" data-next-for="team" onclick="return false;" class="next hidden-xs"><span class="label">Saori</span><span class="icon icon-forward"></span></a><a href="#" data-slide-to="index-team:index" onclick="return false;" class="close ttr"><span class="label hidden-xs">Close</span><span class="icon icon-close"></span></a></div>
        </div>
        <hr>
        <div data-slider="index-team" class="slider">
          <div data-slide="index" class="slider-item active">
            <div class="row vp-4 vp-5-sm">
              <div class="col-xs-12 col-sm-10">
                <ul class="team huge">
                  <li><a href="https://twitter.com/" target="_blank" data-slide-to="index-team:slides team:matt" data-scroll="#team">Matt Innes</a></li>
                  <li><a href="https://twitter.com/aekym" target="_blank" data-slide-to="index-team:slides team:lars" data-scroll="#team">Lars Kluge</a></li>
                  <li><a href="https://twitter.com/" target="_blank" data-slide-to="index-team:slides team:saori" data-scroll="#team">Saori Kajiwara</a></li>
                  <li><a href="https://twitter.com/mariusz_io" target="_blank" data-slide-to="index-team:slides team:mariusz" data-scroll="#team">Mariusz Roliński</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div data-slide="slides" style="display: none;" class="slider-item">
            <div class="vp-0 vp-5-sm">
              <div data-slider="team" class="slider">
                <div data-slide="matt" data-label="Matt" style="" class="person slider-item active">
                  <div class="row section-body">
                    <div class="col-sm-5 hidden-xs"><img alt="Matt Innes" src="/assets/images/lars.jpg" width="155" height="155" class="photo"/>
                      <div class="vm-4-t">
                        <ul class="links"><li><a href="https://twitter.com/" target="_blank">Twitter</a></li><li><a href="https://github.com/" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/" target="_blank">Linked In</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                      <div class="team-member vp-2 vp-0-sm-t"><img alt="Lars" src="/assets/images/lars.jpg" width="50" height="50" class="photo visible-xs"/>
                        <h1 class="section-headline">Matt Innes</h1>
                        <p>Designer</p>
                      </div>
                      <hr/>
                      <div class="vm-4-t vm-3-sm-t"><p>Etiam ultricies placerat pulvinar. In eu eleifend ligula. Ut in turpis diam. Etiam diam diam, faucibus nec augue sit amet, maximus lacinia purus. Integer imperdiet dolor et odio vulputate, eu faucibus metus auctor.</p>
<p>Phasellus consectetur, ligula vitae tincidunt congue, enim orci varius augue, sed tempor nisl neque quis tellus.</p>
</div>
                    </div>
                  </div>
                  <div class="vm-4-t visible-xs">
                    <ul class="links"><li><a href="https://twitter.com/" target="_blank">Twitter</a></li><li><a href="https://github.com/" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/" target="_blank">Linked In</a></li>
                    </ul>
                  </div>
                </div>
                <div data-slide="lars" data-label="Lars" style="display: none;" class="person slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 hidden-xs"><img alt="Lars Kluge" src="/assets/images/lars.jpg" width="155" height="155" class="photo"/>
                      <div class="vm-4-t">
                        <ul class="links"><li><a href="https://twitter.com/aekym" target="_blank">Twitter</a></li><li><a href="https://github.com/larskluge" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/in/larskluge" target="_blank">Linked In</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                      <div class="team-member vp-2 vp-0-sm-t"><img alt="Lars" src="/assets/images/lars.jpg" width="50" height="50" class="photo visible-xs"/>
                        <h1 class="section-headline">Lars Kluge</h1>
                        <p>Technical Director</p>
                      </div>
                      <hr/>
                      <div class="vm-4-t vm-3-sm-t"><p>Berlin, Hamburg, New York. Previously CTO and Cofounder of Kitchensurfing, lead developer at DailyDeal.de (acquired by Google), CIO at Samedi.de, and many years experience as software engineer since 2000.</p>
<p>German Diploma in Computer Science from the University of Applied Sciences Wedel. Plays Capoeira, snowboarding, rock climbing, kite surfing, traveling, and never lets too many words loose.</p>
</div>
                    </div>
                  </div>
                  <div class="vm-4-t visible-xs">
                    <ul class="links"><li><a href="https://twitter.com/aekym" target="_blank">Twitter</a></li><li><a href="https://github.com/larskluge" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/in/larskluge" target="_blank">Linked In</a></li>
                    </ul>
                  </div>
                </div>
                <div data-slide="saori" data-label="Saori" style="display: none;" class="person slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 hidden-xs"><img alt="Saori Kajiwara" src="/assets/images/lars.jpg" width="155" height="155" class="photo"/>
                      <div class="vm-4-t">
                        <ul class="links"><li><a href="https://twitter.com/" target="_blank">Twitter</a></li><li><a href="https://github.com/" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/" target="_blank">Linked In</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                      <div class="team-member vp-2 vp-0-sm-t"><img alt="Lars" src="/assets/images/lars.jpg" width="50" height="50" class="photo visible-xs"/>
                        <h1 class="section-headline">Saori Kajiwara</h1>
                        <p>Designer</p>
                      </div>
                      <hr/>
                      <div class="vm-4-t vm-3-sm-t"><p>Etiam ultricies placerat pulvinar. In eu eleifend ligula. Ut in turpis diam. Etiam diam diam, faucibus nec augue sit amet, maximus lacinia purus. Integer imperdiet dolor et odio vulputate, eu faucibus metus auctor.</p>
<p>Phasellus consectetur, ligula vitae tincidunt congue, enim orci varius augue, sed tempor nisl neque quis tellus.</p>
</div>
                    </div>
                  </div>
                  <div class="vm-4-t visible-xs">
                    <ul class="links"><li><a href="https://twitter.com/" target="_blank">Twitter</a></li><li><a href="https://github.com/" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/" target="_blank">Linked In</a></li>
                    </ul>
                  </div>
                </div>
                <div data-slide="mariusz" data-label="Mariusz" style="display: none;" class="person slider-item">
                  <div class="row section-body">
                    <div class="col-sm-5 hidden-xs"><img alt="Mariusz Roliński" src="/assets/images/lars.jpg" width="155" height="155" class="photo"/>
                      <div class="vm-4-t">
                        <ul class="links"><li><a href="https://twitter.com/mariusz_io" target="_blank">Twitter</a></li><li><a href="https://github.com/mondoreale" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/in/mariuszrolinski" target="_blank">Linked In</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                      <div class="team-member vp-2 vp-0-sm-t"><img alt="Lars" src="/assets/images/lars.jpg" width="50" height="50" class="photo visible-xs"/>
                        <h1 class="section-headline">Mariusz Roliński</h1>
                        <p>Front end developer</p>
                      </div>
                      <hr/>
                      <div class="vm-4-t vm-3-sm-t"><p>Mariusz jest po prostu świetny. #self-quote</p>
</div>
                    </div>
                  </div>
                  <div class="vm-4-t visible-xs">
                    <ul class="links"><li><a href="https://twitter.com/mariusz_io" target="_blank">Twitter</a></li><li><a href="https://github.com/mondoreale" target="_blank">Github</a></li><li><a href="https://www.linkedin.com/in/mariuszrolinski" target="_blank">Linked In</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="visible-xs cf vp-3"><a href="#" data-prev-for="team" onclick="return false;" data-scroll class="prev"><span class="icon icon-back"></span><span class="label">Mariusz</span></a><a href="#" data-next-for="team" onclick="return false;" data-scroll class="next ttr"><span class="label">Saori</span><span class="icon icon-forward"></span></a></div>
            <div class="vm-6-b vm-4-sm-b">
              <hr>
            </div>
          </div>
        </div>
        <div class="row section-header vm-2-b">
          <div class="col-xs-12">
            <h1 class="section-headline">More</h1>
          </div>
        </div>
        <hr>
        <div class="row vp-4 vp-5-sm vp-7-md">
          <div class="col-xs-12 col-sm-10">
            <ul class="more huge">
              <li><a href="mailto:io@idealogue.io">Contact Us</a></li>
              <li><a href="https://twitter.com/idealogue" target="_blank">Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <footer class="main-footer">
          <p>That’s it. Thanks for coming by.</p>
        </footer>
      </div>
      <script src="/assets/site.js" type="text/javascript"></script>
    </div>
  </body>
</html>