*
  box-sizing border-box

*:before,
*:after
  box-sizing border-box

html
  font-size 10px
  -webkit-tap-highlight-color rgba(black, 0)

body
  light()
  background: $c-bg
  color: $c-text
  font-family: 'Post Grotesk', 'Helvetica Neue', Tahoma
  font-size: 16px
  line-height: 1.1em

  +sm-screen()
    font-size: 15px

  +lg-screen()
    font-size: 30px


input,
button,
select,
textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit

a
  color: $c-link
  text-decoration: none

  &:hover,
  &:focus,
  &:focus
    color: $c-link
    text-decoration: underline

figure
  margin: 0

img
  vertical-align: middle

hr
  border 0
  border-top 1px solid
  color: inherit
  margin: 0

p
  margin: 0

p + p
  margin-top: 1.5em

.huge
  font-size: 1.5625em
  line-height: 1.4

  +sm-screen()
    font-size: 2em

.light
  light()

.book
  book()

.medium
  medium()

.text-right
  text-align: right

h1,
h2,
h3,
h4,
h5,
h6,
strong
  medium()

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

ul
  list-style: none
  margin: 0
  padding: 0

.cf
  clearfix()

.ttr
  float: right

xs-grid-column(80px)

