@import 'vars'
@import 'bootstrap'

@import 'mixins'
@import 'grid'
@import 'scaffolding'
@import 'footer'
@import 'vertical_space'


.section-headline
  font-size: 1.33em
  line-height: 1
  margin: 0

.team,
.projects,
.more
  list-style: none
  padding: 0

.projects
  margin: 0 0 0 -0.25em

.projects li
  display: inline-block
  margin-left: 0.25em

.team,
.more
  margin: 0

