@import 'vars'
@import 'bootstrap'

@import 'mixins'
@import 'grid'
@import 'scaffolding'
@import 'footer'
@import 'vertical_space'
@import 'sliders'


// ^: General

.logo
  +md-screen()
    height: 108px
    width: 357px

// $: General


// ^: Lists

.projects
  margin-left: -0.25em

.projects li
  margin-left: 0.25em

  +sm-screen()
    display: inline-block

// $: Lists


// ^: Icons and labels

.icon
  font-size: 1.25em
  line-height: inherit
  position: relative
  top: 1px

  +sm-screen()
    font-size: 1.2em

  +md-screen()
    font-size: 0.9em
    top: 2px

.label
  +md-screen()
    font-size: 0.665em

span + .icon,
.icon + span
  margin-left: 10px

  +md-screen()
    margin-left: 20px

// $: Icons and labels


// ^: Sections

.section-header
  line-height: 20px

  .prev,
  .next
    display: block
    float: left
    width: 85px

    +md-screen()
      width: 160px

  .next
    margin-left: 25px

    +md-screen()
      margin-left: 75px

  +md-screen()
    line-height: 30px

    &.projects-header

      .prev,
      .next
        width: 140px

      .next
        margin-left: 60px

.section-headline
  font-size: 1.33em
  line-height: inherit

  +md-screen()
    font-size: 1em

.section-body
  line-height: 1.5em

  +md-screen()
    font-size: 20px

    p
      width: 85%

    .section-headline
      font-size: 1.5em

// $: Sections


// ^: Links

.links
  border: solid $c-text
  border-width: 1px 0
  padding: 25px 0
  text-align: center

.links li
  display: inline-block

.links li + li
  $padding = 13px
  padding-left: $padding * 2 + 4px
  position: relative

  &:before
    border: 2px solid $c-text
    border-radius: 50%
    content: ' '
    display: block
    height: 0
    left: $padding
    position: absolute
    top: 6px
    width: 0

+md-screen()
  .links li + li
    $padding = 26px
    padding-left: $padding * 2 + 4px

    &:before
      border-width: 4px
      left: $padding
      top: 12px

// $: Links


// ^: Project

+sm-screen()
  .project .links
    text-align: left

.credits .name
  margin-right: 0.6em

.project-image
  display: block
  height: 425px
  margin: 0 auto
  width: 260px

  +xs-screen()
    img-responsive()

.project-image-wrapper
  margin-top: -35px

.project-image-wrapper .project-image
  left: -43px
  position: relative

// $: Project


// ^: Person

+sm-screen()

  .person .links
    border: 0
    padding: 0
    width: 155px
    text-align: left

  .person .links li
    border solid $c-text
    border-width: 1px 0
    display: block
    padding: 10px 0 7px

  .person .links li + li
    border-top: 0

    &:before
      display: none

.photo
  border-radius: 8px

.team-member

  +xs-screen()
    padding-left: 65px
    position: relative

  .section-headline
    margin-bottom: 0.2em

  p
    line-height: 1

  .photo
    border-radius: 4px
    left: 0
    position: absolute
    top: 18px

+md-screen()

  .person .links
    width: 311px

  .photo
    border-radius: 16px
    height: 311px
    width: 311px


// $: Person


// ^: Openable blocks

.openable .section-headline

  +sm-screen()
    book()

  +xs-screen()
    font-size: inherit

.open .when-closed,
.when-opened
  display: none

  +sm-screen()
    display: block

.open .when-opened,
.when-closed
  display: block

// $: Openable blocks


// ^: Nested sliders and their navs

.slide--index .slider-nav
  visibility: hidden

// $: Nested sliders and their navs

