for tenth in 0 1 2 3 4 5 6 7 8 9 12
  .vm-{tenth}
    margin-bottom: tenth * 10px
    margin-top: tenth * 10px

  .vm-{tenth}-b
    margin-bottom: tenth * 10px

  .vm-{tenth}-t
    margin-top: tenth * 10px

  .vp-{tenth}
    padding-bottom: tenth * 10px
    padding-top: tenth * 10px

  .vp-{tenth}-b
    padding-bottom: tenth * 10px

  .vp-{tenth}-t
    padding-top: tenth * 10px

