for size in xs sm md
  +screen(size)
    for tenth in 0 1 2 3 4 5 6 7 8 9 10 12 13
      selector = tenth
      if size != xs
        push(selector, size)
        selector = join('-', selector)

      .vm-{selector}
        margin-bottom: tenth * 10px
        margin-top: tenth * 10px

      .vm-{selector}-b
        margin-bottom: tenth * 10px

      .vm-{selector}-t
        margin-top: tenth * 10px

      .vp-{selector}
        padding-bottom: tenth * 10px
        padding-top: tenth * 10px

      .vp-{selector}-b
        padding-bottom: tenth * 10px

      .vp-{selector}-t
        padding-top: tenth * 10px

