extends layout
include project
include person

block content
  .container
    .m6t.md-m10t
      p.huge We design &amp; build digital products, from concept to code completion.

    #projects.section-header.projects-header.slide--index
      .row
        .col-xs-5.col-md-6
          h1.section-headline Projects
        .col-xs-7.col-md-6.slider-nav
          a.prev.hidden-xs(href='#' data-prev-for='projects' onclick='return false;')
            span.icon.icon-back
            span.label Previous
          a.next.hidden-xs(href='#' data-next-for='projects' onclick='return false;')
            span.label Next
            span.icon.icon-forward
          a.close.ttr(href='#' data-slide-to='index-projects:index' onclick='return false;')
            span.label.hidden-xs Close
            span.icon.icon-close

    .slider(data-slider='index-projects')
      .slider-item.active(data-slide='index')
        .row
          .col-xs-12.col-sm-10
            ul.projects.huge
              for p in projects
                +project-li(p)

      .slider-item(data-slide='slides')
        div
          .slider(data-slider='projects')
            for p, idx in projects
              +project(p, idx === 0)
          .visible-xs.cf.p3
            a.prev(href='#' data-prev-for='projects' onclick='return false;' data-scroll)
              span.icon.icon-back
              span.label Previous
            a.next.ttr(href='#' data-next-for='projects' onclick='return false;' data-scroll)
              span.label Next
              span.icon.icon-forward
          .visible-xs: hr


    #team.section-header
      .row
        .col-xs-5
          h1.section-headline Team
        .col-xs-7.slider-nav
          a.prev.hidden-xs(href='#' data-prev-for='team' onclick='return false;')
            span.icon.icon-back
            span.label Mariusz
          a.next.hidden-xs(href='#' data-next-for='team' onclick='return false;')
            span.label Saori
            span.icon.icon-forward
          a.close.ttr(href='#' data-slide-to='index-team:index' onclick='return false;')
            span.label.hidden-xs Close
            span.icon.icon-close

    .slider(data-slider='index-team')
      .slider-item.active(data-slide='index')
        .row
          .col-xs-12.col-sm-10
            ul.team.huge
              for data, name in team
                +person-li(name, data)

      .slider-item(data-slide='slides' style='display: none;')
        div
          .slider(data-slider='team')
            - var names = _.keys(team);
            for person, name in team
              +person(name, person, names.indexOf(name) === 0)
        .visible-xs.cf.p3
          a.prev(href='#' data-prev-for='team' onclick='return false;' data-scroll)
            span.icon.icon-back
            span.label Mariusz
          a.next.ttr(href='#' data-next-for='team' onclick='return false;' data-scroll)
            span.label Saori
            span.icon.icon-forward
        hr.visible-xs

    .section-header
      .row
        .col-xs-12
          h1.section-headline More

    .row
      .col-xs-12.col-sm-10
        ul.more.huge
          li: a(href='mailto:io@idealogue.io') Contact Us
          li: a(href='https://twitter.com/idealogue' target='_blank') Twitter

