extends layout
include project

mixin social
  ul.links
    li: a(href='#') Twitter
    li.separator
    li: a(href='#') Github
    li.separator
    li: a(href='#') Linkedin

block content
  .container
    .vm-7-t.vm-4-b.vm-8-sm-t.vm-5-sm-b
      p.huge We design &amp; build digital products, from concept to code completion.

    #projects.row.section-header.vm-2-b.vp-3-t
      .col-xs-5
        h1.section-headline Projects
      .col-xs-7
        a.prev.hidden-xs(href='#' data-prev-for='projects' onclick='return false;')
          span.icon.icon-back
          span.label Previous
        a.next.hidden-xs(href='#' data-next-for='projects' onclick='return false;')
          span.label Next
          span.icon.icon-forward
        a.close(href='#')
          span.label.hidden-xs Close
          span.icon.icon-close
    hr

    .vp-0-t.vp-6-b.vp-5-sm-t.vp-4-sm-b
      .slider(data-slider='projects')
        for p, idx in projects
          +project(p, idx === 0)

      .visible-xs.prev-next-links
        a.prev(href='#' data-prev-for='projects' onclick='return false;' data-scroll)
          span.icon.icon-back
          span.label Previous
        a.next(href='#' data-next-for='projects' onclick='return false;' data-scroll)
          span.label Next
          span.icon.icon-forward

      .visible-xs: hr

    .row.section-header.vm-2-b
      .col-xs-12
        h1.section-headline Projects
    hr
    .row.vp-4.vp-5-sm
      .col-xs-12.col-sm-10
        ul.projects.huge
          for p in projects
            +project-li(p)

    .row.section-header.vm-2-b
      .col-xs-5
        h1.section-headline Team
      .col-xs-7
        a.prev.hidden-xs(href='#')
          span.icon.icon-back
          span.label Mariusz
        a.next.hidden-xs(href='#')
          span.label Saori
          span.icon.icon-forward
        a.close(href='#')
          span.label.hidden-xs Close
          span.icon.icon-close
    hr
    .row.section-body.vp-0.vp-5-sm
      .col-sm-5.hidden-xs
        img.photo(alt='Lars' src='/assets/images/lars.jpg' width='155' height='155')
        .vm-4-t: +social
      .col-xs-12.col-sm-7
        .team-member.vp-2.vp-0-sm-t
          img.photo.visible-xs(alt='Lars' src='/assets/images/lars.jpg' width='50' height='50')
          h1.section-headline Lars Kluge
          p Technical Director
        hr
        .vm-4-t.vm-3-sm-t
          p Berlin, Hamburg, New York. Previously CTO and Cofounder of Kitchensurfing, lead developer at DailyDeal.de (acquired by Google), CIO at Samedi.de, and many years experience as software engineer since 2000.
          p German Diploma in Computer Science from the University of Applied Sciences Wedel. Plays Capoeira, snowboarding, rock climbing, kite surfing, traveling, and never lets too many words loose.

    .vm-4-t.visible-xs: +social

    .visible-xs.prev-next-links
      a.prev(href='#')
        span.icon.icon-back
        span.label Mariusz
      a.next(href='#')
        span.label Saori
        span.icon.icon-forward

    .vm-6-b.vm-4-sm-b: hr

    .row.section-header.vm-2-b
      .col-xs-12
        h1.section-headline Team
    hr
    .row.vp-4.vp-5-sm
      .col-xs-12.col-sm-10
        ul.team.huge
          li: a(href='#' target='_blank') Matt Innes
          li: a(href='#' target='_blank') Lars Kluge
          li: a(href='#' target='_blank') Saori Kajiwara
          li: a(href='#' target='_blank') Mariusz Roliński

    .row.section-header.vm-2-b
      .col-xs-12
        h1.section-headline More
    hr
    .row.vp-4.vp-5-sm
      .col-xs-12.col-sm-10
        ul.more.huge
          li: a(href='#' target='_blank') Contact Us
          li: a(href='#' target='_blank') Twitter
          li: a(href='#' target='_blank') Blog

