extends layout

block content
  .container
    .vm-8
      p.huge We design and build digital products, from concept to code completion.

    h1.section-headline Projects
    hr.vm-3-t
    .row.vm-6
      .col-xs-12.col-sm-10
        ul.projects.huge
          li: a(href='#' target='_blank') Crowdcurity
          li: a(href='#' target='_blank') Counterparty
          li: a(href='#' target='_blank') Inkpad
          li: a(href='#' target='_blank') Huxtaburger
          li: a(href='#' target='_blank') Hive
          li: a(href='#' target='_blank') Bitcoins.com
          li: a(href='#' target='_blank') Bitpocket
          li: a(href='#' target='_blank') Xbalances

    .row.section-header
      .col-xs-5
        h1 Team
      .col-xs-7
        span.icon.icon-back
        | Mariusz
        | Saori
        span.icon.icon-forward
        | Close
        span.icon.icon-close

    hr.vm-3-t
    .row.vm-6
      .col-xs-12.col-sm-10
        ul.team.huge
          li: a(href='#' target='_blank') Matt Innes
          li: a(href='#' target='_blank') Lars Kluge
          li: a(href='#' target='_blank') Saori Kajiwara
          li: a(href='#' target='_blank') Mariusz Roliński

    h1.section-headline More
    hr.vm-3-t
    .row.vm-6
      .col-xs-12.col-sm-10
        ul.more.huge
          li: a(href='#' target='_blank') Contact Us
          li: a(href='#' target='_blank') Twitter
          li: a(href='#' target='_blank') Blog

