doctype html

html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    title Idealogue
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:image' content='#{baseUrl}/assets/images/og.png')
    meta(property='og:type' content='website')
    meta(name='description' content='We design & build digital products, from concept to code completion.')
    link(rel='stylesheet' href='/assets/site.css' type='text/css')
    link(href="/assets/images/favicon.ico" rel="favicon" type="image/x-icon")
    link(href="/assets/images/touch-icon.png" rel="apple-touch-icon")
    link(href="/assets/images/touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76")
    link(href="/assets/images/touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120")
    link(href="/assets/images/touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152")
    link(href="/assets/images/touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180")
    != '<!--[if lt IE 9]>'
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', type='text/javascript')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js', type='text/javascript')
    != '<![endif]-->'

  body
    .main-wrapper.p8t.p4b.sm-p12t.sm-p6b.lg-p20t.lg-p10b
      include header
      block content
      include footer
      script(src='/assets/site.js' type='text/javascript')

